[submodule "backend-config-secret"]
	path = backend-config-secret
	url = https://github.com/airbnb-clone-project/backend-config-secret.git
[submodule "backend-oauth-secret"]
	path = backend-oauth-secret
	url = https://github.com/airbnb-clone-project/backend-oauth-secret.git
